<%= form_with model: @article, :html => {:class => "form", :id => "articleForm"} do |f| %>

  <% if user_signed_in? %>
  
  <label for="article_title"> Enter your article title </label>
  <%= f.text_field :title %><span id="titleError"></span><br/><br/>

  <label for="article_text"> Say something about your article </label>
  <%= f.text_area :text %> <span id="textError"></span><br/><br/>

  <label for="article_category_id"> Which category this articles belongs to:  </label>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><span id="categoryError"></span><br/><br/>

  <label for="article_publish_date" > Publish date:  </label>
  <%= f.date_field :publish_date, order: [:day, :month, :year] %> <span id="dateError"></span> <br/><br/>

  <%#= f.label :feature_image_url %>
  <label for="article_feature_image_url"> Choose Image for the article </label>
  <%= f.file_field :feature_image_url %>  <span id="imageError"></span> <br/><br/>
  
  <%= f.submit "save", id: "articleSubmit" %>


  <% else %>  
    <p> You must sign in inorder to post an article </p>
  <% end %>

<% end %>

<script>
  var formHandle = document.getElementById('articleForm');
  var categoryHandle = document.getElementById('article_category_id');
  var titleHandle = document.getElementById('article_title');
  var textHandle = document.getElementById('article_text');
  var dateHandle = document.getElementById('article_publish_date');
  var imageHandle = document.getElementById('article_feature_image_url');
  var submitHandle = document.getElementById('articleSubmit');

  var categoryErrorHandle = document.getElementById('categoryError');
  var titleErrorHandle = document.getElementById('titleError');
  var textErrorHandle = document.getElementById('textError');
  var imageErrorHandle = document.getElementById('imageError');
  var dateErrorHandle = document.getElementById('dateError');


    var validator = {
    categoryValid: false,
    titleValid: false,
    textValid: false,
    imageValid: false,
    dateValid: false
  }

  function categoryValidation(){
    if (categoryHandle.value === ""){
      categoryErrorHandle.innerHTML = "Can't be blank";
    }else{
      categoryErrorHandle.innerHTML = "";
    }
  }

  function titleValidation(){
    if (titleHandle.value === ""){
      titleErrorHandle.innerHTML = "Can't be blank";
    }else{
      titleErrorHandle.innerHTML = "";
    }
  }

  function textValidation(){
    if (textHandle.value === ""){
      textErrorHandle.innerHTML = "Can't be blank";
    }else{
      textErrorHandle.innerHTML = "";
    }
  }

  function imageValidation(){
    if (imageHandle.value === ""){
      imageErrorHandle.innerHTML = "Can't be blank";
    }else{
      imageErrorHandle.innerHTML = "";
    }
  }

  function dateValidation(){
    if(dateHandle.value === ""){
      dateErrorHandle.innerHTML = "Can't be blank";
    }else{
      dateErrorHandle.innerHTML = "";
    }
  }

  formHandle.addEventListener('submit',function(e){
    console.log("hello");
    categoryValidation();
    titleValidation();
    textValidation();
    imageValidation();
    dateValidation();
    if(Object.values(validator).includes(false)){
      e.preventDefault();
      setTimeout(function(){
        submitHandle.disabled = false;
      },100);
    }else{

    }
  },false);


</script>