<%= form_with model: @article do |f| %>
  
  <label> Enter your article title </label>
  <%= f.text_field :title %><br/>

  <label> Say something about your article </label>
  <%= f.text_field :text %><br/>

  <label> Which category this articles belongs to:  </label>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><br/>

  <label> Publish date:  </label>
  <%= f.date_field :publish_date, order: [:day, :month, :year] %><br/>

  <%= f.label :feature_image_url %>
  <%= f.file_field :feature_image_url %><br/>
  
  <%= f.submit %>

<% end %>