<%= form_with model: @article do |n| %>
  
  
    <label> Enter your article title </label>
    <%= n.text_field :title %><br/>
  
    <label> Say something about your article </label>
    <%= n.text_field :text %><br/>
  
    <label> Which category this articles belongs to:  </label>
    <%= n.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><br/>
  
    <label> Publish date:  </label>
    <%= n.date_field :publish_date, order: [:day, :month, :year] %><br/>
  
    <label> Enter your URL </label>
    <%= n.file_field :feature_image_url %><br/>
    
    <%= n.submit %> s
  
  <% end %>