<h1>Index Page </h1>
<% @articles.each do |article|%>
    <b> Article Title </b>
    <%= article.title %>
    <b> Article Description </b>
    <%= article.text %>
    <b> Article Publish Date </b>
    <%= article.publish_date %>
    <b> Article Image url </b>
    <%= article.feature_image_url %>
    <b> Article Created At </b>
    <%= article.created_at %><br/>
    <b> Article Updated at </b>
    <%= article.updated_at %><br/>
    <%= link_to "Edit Article", edit_article_path(article.id) %>
    <%= link_to "Show Article", show_article_path(article.id) %>
    <% end %>   

<%= link_to "Add Article", new_article_path %>

