<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @postcomment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @postcomment.body %>
</p>

<p>
  <strong>Article:</strong>
  <%= @postcomment.article_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @postcomment.user_id %>
</p>

<%= link_to 'Edit', edit_postcomment_path(@postcomment) %> |
<%= link_to 'Back', postcomments_path %>
